<div class="row">
  <div class="col-md-6">
    <label class="form-check-label" for="birth">Quel age as tu ?</label>
    <input class="form-control" myNumberOnly type="number" name="birth" placeholder="Entres ici ton age" [(ngModel)]="birth">
    <label class="form-check-label" for="choice">Quel est ta taille en centimétres ?</label>
    <input class="form-control" myNumberOnly type="number" name="height" placeholder="Entres ici ta taille (cm)" [(ngModel)]="height">


    <button class="btn btn-primary input-group-btn my-4" type="submit" (click)="validerSaisie(birth, height)">Valider</button>
  </div>
  <div class="col-md-6 text-center" [innerHTML]="htmlContent"></div>
</div>